@font-face {
  font-family: Satoshi;
  src: url('./assets/fonts/Satoshi-Black.woff2') format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: Satoshi;
  src: url('./assets/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: Satoshi;
  src: url('./assets/fonts/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: CabinetGroteskRegular;
  src: url('./assets/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Satoshi, serif;
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}
